.body{
    font-family: 'Inter';
    background: #FAFAFA;
}
.container {
    display: flex;
    flex-direction: row;
    background: #FAFAFA;

  }
  
  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;

  }